<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SOAPEnd" >
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://geomon.cloudapp.net/Service1.svc/SoapAddress"
        binding="wsHttpBinding" contract="WCFServiceWebRole1.IService1"
        name="SOAPEnd" />
      <endpoint address="http://geomon.cloudapp.net/Service1.svc/SoapAddress"
        binding="wsHttpBinding" bindingConfiguration="SOAPEnd" contract="ServRef.IService1" 
        name="SOAPEnd1">
        <identity>
          <servicePrincipalName value="host/RD0003FF22A8B5" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
    <rewrite>
      <rules>
        <rule name="RewriteASPX">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
      </rules>
    </rewrite>
    
    <defaultDocument>
      <files>
        <clear/>
        <add value="Register.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>